.tools-info{
    width: 124px;
    display: flex;
    flex-direction: column; 
    height: 359px; 
    
}

.tools-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 30px;
}



.tools-info_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px
}

.tools-info_list-item{
    position: relative;
    width: 70px;
    border-radius: 6px;
    padding: 12px;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: auto;
}

.tools-info_label{
    padding: 2px 6px;
    border-radius: 59px;
    background: #000;
    color: #fff;
    font-size: 5px;
    position: absolute;
    top: -5%;           
    left: 50%;           
    transform: translateX(-50%); 
    white-space: nowrap;
    
}

.tools-info_tools-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    border-radius: 24px;
    justify-items: center;
    align-items: center;
}

.tools-info_icon{
    height: 15px;   
    width: 15px;     
    object-fit: contain;
    display: block;
}
