.education-container{
    width: 268px;
}

.education-info_list{
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    align-items: start;
    
}

.education-info_list-item{
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
    color: #000;
    padding: 8px;
}

.education-info_list-item.selected{
    color: #fff;
    background: #28D979;
}

.sharps-block_content.selected{
    color: #149063;
}

.education-date,
.sharps-block_head{
    font-size: 10px;
}

.sharps-block_content,
.sharps-block_foot{
    font-size: 8px;
}

.education-info_header{
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8px;
}

