.experiens-info{
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 359px;
}

.experiens-info_list{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;  
}

.experiens-info_list-item{
    width: 387px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
    color: #000;
    position: relative;
    right: 8px;
}

.experiens-info_list-item.selected{
    color: #fff;
    background: #28D979;
}

.experiens-info_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiens-info_period{
    font-size: 8px;
    line-height: 150%;
    font-weight: 500;
}

.experiens-info_label{
    color: #DDF163;
    background-color: #7E731266;
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experiens-info_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 124px;
    flex-shrink: 0;
}

.experiens-info_job{
    display: flex;
    flex-direction: column;
}

.experiens-info_job-speciality{
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
}

.experiens-info_job-bottom{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.experiens-info_list-item.selected .experiens-info_job-bottom{
    color: #EBF9F2;
}

.experiens-info_job-name, 
.experiens-info_job-time{
    font-size: 8px;
    line-height: 150%;
}

.experiens-info_responsibility-list{
    width: 239px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding-left: 16px;
}

.experiens-info_responsibility-list-item{
    font-size: 8px;
    line-height: 150%;
}

.experiens-info_job-speciality{
    white-space: nowrap;
}

.www{
    display: flex;
    flex-direction: row;
}