.feedback-container{
    width: 267px;
    height: 92px;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-header_text{
    font-size: 14px;
}

.feedback_text{
    font-size: 10px;
}