.interests-container{
    width: 267px;
    padding-bottom: 30px;
}

.interests-content{
    font-size: 10px;
    font-weight: 400;
    gap: 10px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.interests-content_item{
    flex: 0 0 auto;
    padding: 4px 10px;
    border-radius: 40px;
    background: #fff;
    
}